*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
        background-color: #0c1022;
}
.login-form{
    
    position: absolute;
    content: '';
    background-color: #0c1022;
    border-radius: 50px 5px;
    inset: 6px;
    padding: 50px 40px;
    z-index: 10;
    color: #00ccff;

}



.login-page-main-cantiner{

    height: 460px;
    /* background-color: aqua; */
    width: 430px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border; */
    /* z-index: 10; */
    /* overflow: hidden; */
    gap: 20px;
        background: #040717;
        overflow: hidden;
        border-radius: 50px 5px;

    h2{
        text-align: center;
        font-size: 40px;
        bottom: 20px;
            color: #00ccff;
    }



}


.login-page-main-cantiner::before{
    content: " ";
    position: absolute;
    height: 170%;
    width: 170%;
    /* background-color: #00ccff; */
    /* z-index: ; */
    /* border: 5px solid #ee00ff; */
   background-image: conic-gradient(rgba(171, 210, 15, 0.896), transparent, transparent,  #ee00ff);
  animation-name: animation;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 animation-direction: normal;
/* z-index: -1; */

}
@keyframes animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

  .login-page-main-cantiner::after{
    content: " ";
    position: absolute;
    height: 170%;
    width: 170%;
    /* background-color: #00ccff; */

    background-image: conic-gradient(transparent, transparent, rgba(13, 0, 128, 0.908), #00ccff);
  animation-name: animation-gradient;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 animation-direction: normal;
  animation-delay: -3s;
  /* z-index: -1; */
 

}
@keyframes   animation-gradient{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}  

#first-child{
    padding-top: 10px; 
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    /* color: ; */
    background-color: transparent;
    border-bottom: 2px solid  #00ccff;
        color: #00ccff;
        padding-bottom:10px ;
        font-size: 18px;
 /* margin-top: 50px; */
    


}
#second-child{
    height: 30px;
    width: 300px;
    height: 30px;
    /* width: 250px; */
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 50px;
    border-bottom: 2px solid  #00ccff;;
        color: #36d7ff;
         font-size: 18px;

}
/* .input-section p{
    width: 100%;
    height: 1.4px;
    background-color: white;


}

.input-section h3{
    width: 100%;
    height: 1px;
    background-color: white;


} */
 #submit-button{
    width: 331px;
    cursor: pointer;
    /* border: 2px  #2fd5ff; */
    border-color: #00ccff;
    /* border: px; */
    height: 50px;
     color: #00ccff;
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    /* top: 110px; */
    letter-spacing: 1px;
    margin-top: 5px;
    /* top: 350px; */
    outline: none;
    bottom: 130px;



 }
 .content-cantainer{
        display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 130px;

    
    /* align-items: center; */
    /* left; */

 }
 .content-cantainer{
    font-size: 18px;
  color: #00ccff;

 }
 i{
     color: #25ccff; 
     font-size: 18px;

 }